{{else}}
        <div class="position-relative text-center">
            <img src="/assets/img/deportes-img2.jpg" class="img-fluid" alt="imagen deporte">
            <h3 class="position-absolute top-50 start-50 translate-middle bg-white p-3">
                {{msg}}
            </h3>
        </div>