<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>

  {{>navbar}}
  {{>header}}
  <main>
    <h2>Listado de deportes</h2>

    <form class="d-flex container" role="search">
      <input class="form-control me-2" type="search" placeholder="Buscar deporte" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>



    <section class="container row w-100 mx-auto g-0">

      {{#if deportes.length}}

      {{#each deportes}}

      <div class="card col-4 m-4" style="width: 18rem;">
        <img src="/assets/img/deportes-general.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{this.nombre}}</h5>
          <p class="card-text">Mejora tu condición física y mental con nuestro programa de entrenamiento personalizado
          </p>
          <p class=" valor">${{this.precio}} mensual </p>
          <a href="#" class="btn btn-danger">empezar</a>
        </div>
      </div>

      {{/each}}
      {{/if}}

      {{#unless deportes.length}}

      <div class="mx-auto container">
        <h3 class="text-center ">NO HAY DEPORTES REGISTRADOS</h3>
        <img src="/assets/img/deportes-img2.jpg" alt="imagen deportes" class="w-75">
      </div>

      {{/unless}}

    </section>
  </main>






  {{>footer}}
  {{>script}}
</body>

</html>