<!DOCTYPE html>

<html lang="en">

{{>head}}

<body>


    {{>navbar}}
    {{>header}}



    <main>

        <form class="d-flex container buscar-id" role="search" action="/deportes/findById" method="get">
            <input class="form-control me-2" type="search" placeholder="Buscar por id" name="id" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>

        <form action="/deportes/insert" method="post">
        <fieldset class=" ">
            <legend>Agregar Nuevo Deporte</legend>
            <input type="text" placeholder="nombre" name ="nombre">
            <input type="text" placeholder="precio" name ="precio">
            <button class="btn btn-outline-secondary" type="submit">Insertar</button>
        </fieldset>
        </form>

        <h2>Listado de deportes</h2>

        {{#if deportes.length}}
        <table class="table container">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Valor</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each deportes}}
                <tr>
                    <th scope="row">{{this.id}}</th>
                    <td>{{this.nombre}}</td>
                    <td>${{this.precio}}</td>
                    <td><button type="button" class="btn btn-success">Actualizar</button></td>
                    <td><button type="button" class="btn btn-danger"><a href="/deportes/delete?id={{this.id}}"> Eliminar </a></button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/if}}

        {{#unless deportes.length}}

        <div class="mx-auto container">
            <h3 class="text-center ">NO HAY DEPORTES ASOCIADOS</h3>
            <img src="/assets/img/deportes-img2.jpg" alt="imagen deportes" class="w-75">
        </div>
        
        {{/unless}}


        


    </main>

    {{>footer}}

    {{>script}}
</body>

</html>